<section>
  <h1>Angular Pokemon Shop Web Application</h1>
  <p>This is a responsive and interactive Angular application written in Typescript.</p>
  <p><a href="https://github.com/summerhung/poke-store">Checkout source code on GitHub</a></p>
  <h2>Dependencies</h2>
  <ul>
    <li>Angular 4.0</li>
    <li>lodash</li>
    <li>bootstrap</li>
    <li>node-sass</li>
    <li><a href="https://github.com/softsimon/angular-2-dropdown-multiselect">angular-2-dropdown-multiselect</a></li>
  </ul>
</section>
