<section class="container">
  <h1>Angular Pokemon Shop Web Application</h1>
  <p>
    This is a responsive and interactive Angular application written in Typescript.
    You can adjust screen size for responsive view. The breakpoints are: 
  </p>
  <ul>
    <li>Extra small < 576px</li>
    <li>Small ≥576px</li>
    <li>Medium ≥768px</li>
    <li>Large ≥992px</li>
    <li>Extra large ≥1200px</li>
  </ul>
  <p>For more developing details please checkout source code on <a href="https://github.com/summerhung/poke-store">GitHub</a></p>
  <h2>Browser support</h2>
  <ul>
    <li>Chrome</li>
    <li>Edge</li>
    <li>Firefox</li>
    <li>Safari</li>
  </ul>
  <h2>Dependencies</h2>
  <ul>
    <li>Angular 4.0</li>
    <li>lodash</li>
    <li>bootstrap</li>
    <li>node-sass</li>
    <li><a href="https://github.com/softsimon/angular-2-dropdown-multiselect">angular-2-dropdown-multiselect</a></li>
  </ul>
  
  <h2>Resources</h2>
  <ul>
    <li>Pokemon Data from: <a href="http://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_National_Pok%C3%A9dex_number">Bulbapedia</a></li>
    <li>How to host Angular App on GitHub: <a href="http://aniri.ro/geek/development/how-to-host-an-angular2-app-on-github-pages-using-angular-cli/">link</a></li>
  </ul>
</section>
