.poke-tile {
    display: inline-block;
    position: relative;
    background-color: lightgray;
    border-radius: 15%;
    height: 200px;
    width: 150px;
    text-align: center;

    &__img {
        height: 100px;
        width: 100px;
        margin: 20px 0;
        background: white;
        border-radius: 50%;
    }

    &__info {
        margin: 0 10px;
        padding: 5px;
        background: white;
        border-radius: 25px;
    }

    &__id {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.9rem;
        display: inline-block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        background: orange;
    }
}