.poke-tile {
    display: inline-block;
    position: relative;
    background-color: lightgray;
    border-radius: 15%;
    height: 200px;
    width: 150px;
    text-align: center;
    margin: 20px 0;
    cursor: pointer;

    &__img {
        height: 100px;
        width: 100px;
        margin: 20px 0;
        background: white;
        border-radius: 50%;
    }

    &__info {
        margin: 0 10px;
        padding: 5px;
        background: white;
        border-radius: 25px;
    }

    &__id {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.9rem;
        display: inline-block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        background: orange;
    }
}

@media screen and (max-width: 380px) {
    .poke-tile {
        height: 160px;
        width: 120px;

        &__img {
            height: 80px;
            width: 80px;
        }
    }
}

.poke-details {
    &__modal {
        @media screen and (max-width: 380px) {
           width: 100vw;
           margin: 0;
        }
    }

    &__info {
        padding: 25px;
        
        &-title {
            background-color: #3498db;
            text-align: center;
            color: white;
            border-radius: 25px;
            padding: 5px;
            margin: 5px;
        }

    }

    &__img {
        height: 250px;
        width: 250px;

        &-outer {
            text-align: center;
        }
    }
    
    &__title {
        text-transform: uppercase;
        color: #3498db;
    }

    &__label {
        font-weight: bold;

        &:after{
          content: ":"  
        }
    }
}