<div class="ps-footer">
  <ul class="nav justify-content-end">
      <li class="nav-item">
      <a class="nav-link disabled">Author: Hsiaoting Hung</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About This Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/store">Back to Store</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/summerhung/poke-store">View on GitHub</a>
    </li>
  </ul>
</div>
